<div class="card">
  <div class="card-header text-center">
    <div class="row align-items-center">
        <h1>Air Monitoring</h1>
        <h3>Nanoservices-driven system</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 px-4">
      <label class="form-label">Select period:</label>
      <select
        class="form-select"
        [(ngModel)]="selectedPeriod"
        (ngModelChange)="handlePeriodUpdated(selectedPeriod)">
        <option *ngFor="let period of periods" [value]="period.value">{{ period.name }}</option>
      </select>
    </div>
    <app-measurement-chart [type]="types.Temperature" [days]="selectedPeriod" [data]="temperatureData"></app-measurement-chart>
    <app-measurement-chart [type]="types.Humidity" [days]="selectedPeriod" [data]="humidityData"></app-measurement-chart>
    <app-measurement-chart [type]="types.Pressure" [days]="selectedPeriod" [data]="pressureData"></app-measurement-chart>
  </div>
</div>
